<%- include("partials/header", {isLoggedIn: isLoggedIn}) %>
    <!-- <div class="spinner-wrapper">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
        </div>
         -->


<header class="main-header">
    <h1>Healthy <span>Recipies</span></h1>
    <p>
        “WHEN DIET IS WRONG, MEDICINE IS OF NO USE. WHEN DIET IS CORRECT, MEDICINE IS OF NO NEED.” – AYURVEDIC PROVERB
    </p>
    </header>

    <main class="container">
    <section class="card">
        <img src="https://cook.fnr.sndimg.com/content/dam/images/cook/fullset/2012/9/24/0/CC-ellie-krieger_tuscan-vegetable-soup-recipe_s4x3.jpg.rend.hgtvcom.966.725.suffix/1389188439163.jpeg" alt="Tuscan Vegetable Soup" />
        <div>
        <h3>Tuscan Vegetable Soup</h3>

        <p>
            Make a big batch of Ellie's comforting, veggie-packed soup and eat well all week long. It only takes 35 minutes to cook up, and clocks in at just 145 calories and 4 grams of fat per serving.
        </p>
        <a href="https://www.foodnetwork.com/recipes/ellie-krieger/tuscan-vegetable-soup-recipe-1957503" class="home-button">Learn More</a>
        </div>
    </section>

    <section class="card" data-aos="fade-up-right">
        <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2015/12/16/3/FNM_010116-Beef-Stir-Fry-Recipe_s4x3.jpg.rend.hgtvcom.966.725.suffix/1450481165291.jpeg" alt="Beef Stir-Fry" />
        <div>
        <h3>Beef Stir-Fry</h3>
        <p>
            The best thing about a stir-fry is that you can substitute the vegetables you like most.
        </p>
        <a href="https://www.foodnetwork.com/recipes/beef-stir-fry-3364942" class="home-button">Learn more</a>
        </div>
    </section>

    <section class="card" data-aos="flip-up">
        <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2004/4/13/0/bw2c06_fruit_smoothie.jpg.rend.hgtvcom.966.725.suffix/1440103020308.jpeg" alt="Frozen Fruit Smoothies" />
        <div>
        <h3>Frozen Fruit Smoothies</h3>
        <p>
            Keep some fruit in the freezer, and chances are you'll always have on hand the ingredients you need to make this nourishing and highly-adaptable smoothie.
        </p>
        <a href="https://www.foodnetwork.com/recipes/food-network-kitchen/frozen-fruit-smoothies-recipe-1914927" class="home-button">Learn more</a>
        </div>
    </section>

        <section class="card" data-aos="flip-up">
            <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/2/4/1/RX-FNM_030111-Lighten-Up-012_s4x3.jpg.rend.hgtvcom.966.725.suffix/1382539856907.jpeg" alt="Low-Cal Fettuccine Alfredo" />
            <div>
            <h3>Low-Cal Fettuccine Alfredo</h3>
            <p>
                Smart swaps like low-fat cream cheese and milk create a version of Alfredo sauce that's still silky and rich, but with much less fat and calories than traditional versions.
            </p>
            <a href="https://www.foodnetwork.com/recipes/food-network-kitchen/low-cal-fettuccine-alfredo-recipe-2118317" class="home-button">Learn more</a>
            </div>
        </section>

        <section class="card" data-aos="flip-up">
            <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2010/3/3/0/FNM_040110-W-N-Dinners-022_s4x3.jpg.rend.hgtvcom.966.725.suffix/1389115464254.jpeg" alt="Ricotta-Spinach Tacos" />
            <div>
            <h3>Ricotta-Spinach Tacos</h3>
            <p>
                Fill warm tortillas with a mix of nutrient-packed spinach, creamy ricotta cheese and green chiles for easy vegetarian tacos.
            </p>
            <a href="https://www.foodnetwork.com/recipes/food-network-kitchen/ricotta-spinach-tacos-recipe-1972989" class="home-button">Learn more</a>
            </div>
        </section>

        <section class="card" data-aos="fade-up-right">
            <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/7/26/1/CN1B01_oven-baked-salmon_s4x3.jpg.rend.hgtvcom.966.725.suffix/1382545141944.jpeg" alt="Oven-Baked Salmon" />
            <div>
            <h3>Oven-Baked Salmon</h3>
            <p>
                Keep this recipe in your back pocket for nights it seems you don't have time to cook dinner. It takes just 20 minutes from start to finish.
            </p>
            <a href="https://www.foodnetwork.com/recipes/oven-baked-salmon-recipe-1911951" class="home-button">Learn more</a>
            </div>
        </section>

        <section class="card" data-aos="flip-up">
            <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2017/5/31/0/FN_Thomas-Buddha-Bowl_s4x3.jpg.rend.hgtvcom.966.725.suffix/1496262545543.jpeg" alt="Buddha Bowl" />
            <div>
            <h3>Buddha Bowl</h3>
            <p>
                A Buddha bowl, grain bowl or harvest bowl is a healthy trend we can get behind! Balanced with lots of colorful produce plus healthy grains and proteins, Buddha bowls are fun to create and easy to make.
            </p>
            <a href="https://www.foodnetwork.com/recipes/grain-bowl-3754103" class="home-button">Learn more</a>
            </div>
        </section>


    <section id="section2">
        <h1>About</h1>
        <p>
            Keep some fruit in the freezer, and chances are you'll always have on hand the ingredients you need to make this nourishing and highly-adaptable smoothie.
        </p>
    </section>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
          AOS.init();
    </script>

<%- include('partials/footer') %>
